interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/traffic/popular/paths
  response:
    body:
      string: '[{"path":"/karlmdavis/ksoap2-android","title":"Overview","count":10,"uniques":9},{"path":"/karlmdavis/ksoap2-android/issues","title":"/issues","count":4,"uniques":1},{"path":"/karlmdavis/ksoap2-android/pull/3/checks","title":"/pull/3/checks","count":2,"uniques":2},{"path":"/karlmdavis/ksoap2-android/pulls","title":"/pulls","count":2,"uniques":2},{"path":"/karlmdavis/ksoap2-android/issues/7","title":"/issues/7","count":2,"uniques":1},{"path":"/karlmdavis/ksoap2-android/pull/8","title":"/pull/8","count":2,"uniques":1},{"path":"/karlmdavis/ksoap2-android/tree/master","title":"/tree/master","count":2,"uniques":1},{"path":"/karlmdavis/ksoap2-android/actions","title":"/actions","count":1,"uniques":1},{"path":"/karlmdavis/ksoap2-android/branches","title":"/branches","count":1,"uniques":1},{"path":"/karlmdavis/ksoap2-android/commits/master","title":"/commits/master","count":1,"uniques":1}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"558952488075ec3b4650fdd5d5a3ed65fd46776aee700bc5985595fcc9bb6ed2"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4988'
      X-RateLimit-Reset:
      - '1775232349'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '12'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
[...]
