interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/traffic/views
  response:
    body:
      string: '{"count":33,"uniques":11,"views":[{"timestamp":"2026-03-20T00:00:00Z","count":14,"uniques":1},{"timestamp":"2026-03-21T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-22T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-23T00:00:00Z","count":2,"uniques":2},{"timestamp":"2026-03-24T00:00:00Z","count":2,"uniques":2},{"timestamp":"2026-03-25T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-03-26T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-27T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-03-28T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-29T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-30T00:00:00Z","count":10,"uniques":2},{"timestamp":"2026-03-31T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-04-01T00:00:00Z","count":2,"uniques":1},{"timestamp":"2026-04-02T00:00:00Z","count":1,"uniques":1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"52de25da187e6147c4bad8e7e1f2ff162886d3c4fe11bbb1577fe43f5da1b45f"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4975'
      X-RateLimit-Reset:
      - '1775232349'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '25'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/traffic/clones
  response:
    body:
      string: '{"count":19,"uniques":14,"clones":[{"timestamp":"2026-03-20T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-21T00:00:00Z","count":2,"uniques":2},{"timestamp":"2026-03-22T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-23T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-03-24T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-25T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-26T00:00:00Z","count":3,"uniques":3},{"timestamp":"2026-03-27T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-03-28T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-29T00:00:00Z","count":3,"uniques":2},{"timestamp":"2026-03-30T00:00:00Z","count":5,"uniques":4},{"timestamp":"2026-03-31T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-04-01T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-04-02T00:00:00Z","count":2,"uniques":1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"54c64b658d54c271dfc60ee9733ee0f4c70b2ca2a333a423e814b5844b4cbb0d"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4974'
      X-RateLimit-Reset:
      - '1775232349'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '26'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android
  response:
    body:
      string: '{"id":140726,"node_id":"MDEwOlJlcG9zaXRvcnkxNDA3MjY=","name":"ksoap2-android","full_name":"karlmdavis/ksoap2-android","private":false,"owner":{"login":"karlmdavis","id":59200,"node_id":"MDQ6VXNlcjU5MjAw","avatar_url":"https://avatars.githubusercontent.com/u/59200?v=4","gravatar_id":"","url":"https://api.github.com/users/karlmdavis","html_url":"https://github.com/karlmdavis","followers_url":"https://api.github.com/users/karlmdavis/followers","following_url":"https://api.github.com/users/karlmdavis/following{/other_user}","gists_url":"https://api.github.com/users/karlmdavis/gists{/gist_id}","starred_url":"https://api.github.com/users/karlmdavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karlmdavis/subscriptions","organizations_url":"https://api.github.com/users/karlmdavis/orgs","repos_url":"https://api.github.com/users/karlmdavis/repos","events_url":"https://api.github.com/users/karlmdavis/events{/privacy}","received_events_url":"https://api.github.com/users/karlmdavis/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/karlmdavis/ksoap2-android","description":"A
        fork of the ksoap2 library (http://ksoap2.sourceforge.net/) to support the
        Android platform.","fork":false,"url":"https://api.github.com/repos/karlmdavis/ksoap2-android","forks_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/forks","keys_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/keys{/key_id}","collaborators_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/teams","hooks_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/hooks","issue_events_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/issues/events{/number}","events_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/events","assignees_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/assignees{/user}","branches_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/branches{/branch}","tags_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/tags","blobs_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/git/refs{/sha}","trees_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/git/trees{/sha}","statuses_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/statuses/{sha}","languages_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/languages","stargazers_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/stargazers","contributors_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/contributors","subscribers_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/subscribers","subscription_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/subscription","commits_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/commits{/sha}","git_commits_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/git/commits{/sha}","comments_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/comments{/number}","issue_comment_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/issues/comments{/number}","contents_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/contents/{+path}","compare_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/compare/{base}...{head}","merges_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/merges","archive_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/downloads","issues_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/issues{/number}","pulls_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/pulls{/number}","milestones_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/milestones{/number}","notifications_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/labels{/name}","releases_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/releases{/id}","deployments_url":"https://api.github.com/repos/karlmdavis/ksoap2-android/deployments","created_at":"2009-03-01T22:43:17Z","updated_at":"2025-04-10T03:27:44Z","pushed_at":"2022-03-30T04:11:57Z","git_url":"git://github.com/karlmdavis/ksoap2-android.git","ssh_url":"git@github.com:karlmdavis/ksoap2-android.git","clone_url":"https://github.com/karlmdavis/ksoap2-android.git","svn_url":"https://github.com/karlmdavis/ksoap2-android","homepage":"http://code.google.com/p/ksoap2-android","size":2206,"stargazers_count":109,"watchers_count":109,"language":"Java","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":298,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":8,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":298,"open_issues":8,"watchers":109,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"enabled"},"secret_scanning_non_provider_patterns":{"status":"disabled"},"secret_scanning_validity_checks":{"status":"disabled"}},"network_count":298,"subscribers_count":7}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"80f191406d2c3bcc422f73da0fb91ca3964c0f140ff8e0ec73f6d1d5ed2cab80"
      Last-Modified:
      - Thu, 10 Apr 2025 03:27:44 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4973'
      X-RateLimit-Reset:
      - '1775232349'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '27'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/stargazers?per_page=100
  response:
    body:
      string: '[{"starred_at":"2009-03-01T22:43:17Z","user":{"login":"yone098","id":12716,"node_id":"MDQ6VXNlcjEyNzE2","avatar_url":"https://avatars.githubusercontent.com/u/12716?v=4","gravatar_id":"","url":"https://api.github.com/users/yone098","html_url":"https://github.com/yone098","followers_url":"https://api.github.com/users/yone098/followers","following_url":"https://api.github.com/users/yone098/following{/other_user}","gists_url":"https://api.github.com/users/yone098/gists{/gist_id}","starred_url":"https://api.github.com/users/yone098/starred{/own[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/140726/stargazers?page=2
  response:
    body:
      string: '[{"starred_at":"2014-05-16T08:06:42Z","user":{"login":"alex7io","id":1291713,"node_id":"MDQ6VXNlcjEyOTE3MTM=","avatar_url":"https://avatars.githubusercontent.com/u/1291713?v=4","gravatar_id":"","url":"https://api.github.com/users/alex7io","html_url":"https://github.com/alex7io","followers_url":"https://api.github.com/users/alex7io/followe[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/forks?per_page=100
  response:
    body:
      string: '[{"id":786405673,"node_id":"R_kgDOLt-ZKQ","name":"ksoap2-android","full_name":"Garmi-O10/ksoap2-android","private":false,"owner":{"login":"Garmi-O10","id":116158480,"node_id":"U_kgDOBuxwEA","avatar_url":"https://avatars.githubusercontent.com/u/116158480?v=4","gravatar_id":"","url":"https://api.github.com/users/Garmi-O10","htm[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/140726/forks?page=2
  response:
    body:
      string: '[{"id":36120206,"node_id":"MDEwOlJlcG9zaXRvcnkzNjEyMDIwNg==","name":"ksoap2-android","full_name":"hiaio/ksoap2-android","private":false,"owner":{"login":"hiaio","id":4637638,"node_id":"MDQ6VXNlcjQ2Mzc2Mzg=","avatar_url":"https://avatars.githubusercontent.com/u/4637638?v=4","gravatar_id":"","url":"https://api.github.com/users/hiaio","html_url":[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/traffic/popular/referrers
  response:
    body:
      string: '[{"referrer":"github.com","count":9,"uniques":7},{"referrer":"Google","count":1,"uniques":1}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"0b43a6ef0bcbc8e0abf68585c66c5aef39f75f0c165e1861352185671ed8f70c"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4970'
      X-RateLimit-Reset:
      - '1775232349'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '30'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/traffic/popular/paths
  response:
    body:
      string: '[{"path":"/karlmdavis/ksoap2-android","title":"Overview","count":10,"uniques":9},{"path":"/karlmdavis/ksoap2-android/issues","title":"/issues","count":4,"uniques":1},{"path":"/karlmdavis/ksoap2-android/pull/3/checks","title":"/pull/3/checks","count":2,"uniques":2},{"path":"/karlmdavis/ksoap2-android/pulls","title":"/pulls","count":2,"uniques":2},{"path":"/karlmdavis/ksoap2-android/issues/7","title":"/issues/7","count":2,"uniques":1},{"path":"/karlmdavis/ksoap2-android/pull/8","title":"/pull/8","count":2,"uniques":1},{"path":"/karlmdavis/ksoap2-android/tree/master","title":"/tree/master","count":2,"uniques":1},{"path":"/karlmdavis/ksoap2-android/actions","title":"/actions","count":1,"uniques":1},{"path":"/karlmdavis/ksoap2-android/branches","title":"/branches","count":1,"uniques":1},{"path":"/karlmdavis/ksoap2-android/commits/master","title":"/commits/master","count":1,"uniques":1}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"558952488075ec3b4650fdd5d5a3ed65fd46776aee700bc5985595fcc9bb6ed2"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4969'
      X-RateLimit-Reset:
      - '1775232349'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '31'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/releases?per_page=100
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"66ea89bf5ed3daf048a0e035e975d723ab991cf9c82c29f03a7358a4829f2593"'
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4968'
      X-RateLimit-Reset:
      - '1775232349'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '32'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/actions/runs?per_page=100
  response:
    body:
      string: '{"total_count":0,"workflow_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
