interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/traffic/views
  response:
    body:
      string: '{"count":33,"uniques":11,"views":[{"timestamp":"2026-03-20T00:00:00Z","count":14,"uniques":1},{"timestamp":"2026-03-21T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-22T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-23T00:00:00Z","count":2,"uniques":2},{"timestamp":"2026-03-24T00:00:00Z","count":2,"uniques":2},{"timestamp":"2026-03-25T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-03-26T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-27T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-03-28T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-29T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-30T00:00:00Z","count":10,"uniques":2},{"timestamp":"2026-03-31T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-04-01T00:00:00Z","count":2,"uniques":1},{"timestamp":"2026-04-02T00:00:00Z","count":1,"uniques":1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"52de25da187e6147c4bad8e7e1f2ff162886d3c4fe11bbb1577fe43f5da1b45f"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4991'
      X-RateLimit-Reset:
      - '1775232349'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '9'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
[...]
