interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/traffic/clones
  response:
    body:
      string: '{"count":19,"uniques":14,"clones":[{"timestamp":"2026-03-20T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-21T00:00:00Z","count":2,"uniques":2},{"timestamp":"2026-03-22T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-23T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-03-24T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-25T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-26T00:00:00Z","count":3,"uniques":3},{"timestamp":"2026-03-27T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-03-28T00:00:00Z","count":0,"uniques":0},{"timestamp":"2026-03-29T00:00:00Z","count":3,"uniques":2},{"timestamp":"2026-03-30T00:00:00Z","count":5,"uniques":4},{"timestamp":"2026-03-31T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-04-01T00:00:00Z","count":1,"uniques":1},{"timestamp":"2026-04-02T00:00:00Z","count":2,"uniques":1}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"54c64b658d54c271dfc60ee9733ee0f4c70b2ca2a333a423e814b5844b4cbb0d"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4990'
      X-RateLimit-Reset:
      - '1775232349'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '10'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
[...]
