interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/stargazers?per_page=100
  response:
    body:
      string: '[{"starred_at":"2009-03-01T22:43:17Z","user":{"login":"yone098","id":12716,"node_id":"MDQ6VXNlcjEyNzE2","avatar_url":"https://avatars.githubusercontent.com/u/12716?v=4","gravatar_id":"","url":"https://api.github.com/users/yone098","html_url":"https://github.com/yone098","followers_url":"https://api.github.com/users/yone098/followers","following_url":"https://api.github.com/users/yone098/following{/other_user}","gists_url":"https://api.github.com/users/yone098/gists{/gist_id}","starred_url":"https://api.github.com/users/yone098/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yone098/subscriptions","organizations_url":"https://api.github.com/users/yone098/orgs","repos_url":"https://api.github.com/users/yone098/repos","events_url":"https://api.github.com/users/yone098/events{/privacy}","received_events_url":"https://api.github.com/users/yone098/received_events","type":"User","user_view_type":"public","site_admin":false}},{"starred_at":"2009-03-01T22:43:17Z","user":{"login":"karlmdavis","id":59200,"node_id":"MDQ6VXNlcjU5MjAw","avatar_url":"https://avatars.githubusercontent.com/u/59200?v=4","gravatar_id":"","url":"https://api.github.com/users/karlmdavis","html_url":"https://github.com/karlmdavis","followers_url":"https://api.github.com/users/karlmdavis/followers","following_url":"https://api.github.com/users/karlmdavis/following{/other_user}","gists_url":"https://api.github.com/users/karlmdavis/gists{/gist[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/140726/stargazers?page=2
  response:
    body:
      string: '[{"starred_at":"2014-05-16T08:06:42Z","user":{"login":"alex7io","id":1291713,"node_id":"MDQ6VXNlcjEyOTE3MTM=","avatar_url":"https://avatars.githubusercontent.com/u/1291713?v=4","gravatar_id":"","url":"https://api.github.com/users/alex7io","html_url":"https://github.com/alex7io","followers_url":"https://api.github.com/users/alex7io/followe[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/140726/stargazers?per_page=100&page=2
  response:
    body:
      string: '[{"starred_at":"2019-08-17T19:51:40Z","user":{"login":"thegumza","id":6907684,"node_id":"MDQ6VXNlcjY5MDc2ODQ=","avatar_url":"https://avatars.githubusercontent.com/u/6907684?v=4","gravatar_id":"","url":"https://api.github.com/users/thegumza","html_url":"https://github.com/thegumza","followers_url":"https://api.github.com/users[...]
[...]
