interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/users/karlmdavis/repos?per_page=100
  response:
    body:
      string: "[{\"id\":78954612,\"node_id\":\"MDEwOlJlcG9zaXRvcnk3ODk1NDYxMg==\",\"name\":\"ansible\",\"full_name\":\"karlmdavis/ansible\",\"private\":false,\"owner\":{\"login\":\"karlmdavis\",\"id\":59200,\"node_id\":\"MDQ6VXNlcjU5MjAw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/59200?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/karlmdavis\",\"html_url\":\"https://github.com/karlmdavis\",\"followers_url\":\"https://api.github.com/users/karlmdavis/followers\",\"following_url\":\"https://api.github.com/users/karlmdavis/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/karlmdavis/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/karlmdavis/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/karlmdavis/subscriptions\",\"organizations_url\":\"https://api.github.com/users/karlmdavis/orgs\",\"repos_url\":\"https://api.github.com/users/karlmdavis/repos\",\"events_url\":\"https://api.github.com/users/karlmdavis/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/karlmdavis/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"html_url\":\"https://github.com/karlmdavis/ansible\",\"description\":\"Ansible
        is a radically simple IT automation platform that makes your applications
        and systems easier to deploy. Avoid writing scripts or custom code to deploy
        and update your applications\u2014 automate in a language that approaches
        plain English, using SSH, with no agents to install on remote systems.\",\"fork\":true,\"url\":\"https://api.github.com/repos/karlmdavis/ansible\",\"forks_url\":\"https://api.github.com/repos/karlmdavis/ansible/forks\",\"keys_url\":\"https://api.github.com/repos/karlmdavis/ansible/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/karlmdavis/ansible/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/karlmdavis/ansible/teams\",\"hooks_url\":\"https://api.github.com/repos/karlmdavis/ansible/hooks\",\"issue_events_url\":\"https://api.github.com/repos/karlmdavis/ansible/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/karlmdavis/ansible/events\",\"assignees_url\":\"https://api.github.com/repos/karlmdavis/ansible/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/karlmdavis/ansible/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/karlmdavis/ansible/tags\",\"blobs_url\":\"https://api.github.com/repos/karlmdavis/ansible/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/karlmdavis/ansible/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/karlmdavis/ansible/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/karlmdavis/ansible/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/karlmdavis/ansible/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/karlmdavis/ansible/languages\",\"stargazers_url\":\"https://api.github.com/repos/karlmdavis/ansible/stargazers\",\"contributors_url\":\"https://api.github.com/repos/karlmdavis/ansible/contributors\",\"subscribers_url\":\"https://api.github.com/repos/karlmdavis/ansible/subscribers\",\"subscription_url\":\"https://api.github.com/repos/karlmdavis/ansible/subscription\",\"commits_url\":\"https://api.github.com/repos/karlmdavis/ansible/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/karlmdavis/ansible/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/karlmdavis/ansible/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/karlmdavis/ansible/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/karlmdavis/ansible/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/karlmdavis/ansible/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/karlmdavis/ansible/merges\",\"archive_url\":\"https://api.github.com/repos/karlmdavis/ansible/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/karlmdavis/ansible/downloads\",\"issues_url\":\"https://api.github.com/repos/karlmdavis/ansible/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/karlmdavis/ansible/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/karlmdavis/ansible/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/karlmdavis/ansible/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/karlmdavis/ansible/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/karlmdavis/ansible/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/karlmdavis/ansible/deployments\",\"created_at\":\"2017-01-14T17:18:32Z\",\"updated_at\":\"2021-03-26T15:19:20Z\",\"pushed_at\":\"2018-01-02T14:54:30Z\",\"git_url\":\"git://github.com/karlmdavis/ansible.git\",\"ssh_url\":\"git@github.com:karlmdavis/ansible.git\",\"clone_url\":\"https://github.com/karlmdavis/ansible.git\",\"svn_url\":\"https://github.com/karlmdavis/ansible\",\"homepage\":\"http://ansible.com/\",\"size\":99546,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Python\",\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":false,\"has_pages\":false,\"has_discussions\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":0,\"license\":{\"key\":\"gpl-3.0\",\"name\":\"GNU
        General Public License v3.0\",\"spdx_id\":\"GPL-3.0\",\"url\":\"https://api.github.com/licenses/gpl-3.0\",\"node_id\":\"MDc6TGljZW5zZTk=\"},\"allow_forking\":true,\"is_template\":false,\"web_commit_signoff_required\":false,\"has_pull_requests\":true,\"pull_request_creation_policy\":\"all\",\"topics\":[],\"visibility\":\"public\",\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"devel\",\"permissions\":{\"admin\":true,\"maintain\":true,\"push\":true,\"triage\":true,\"pull\":true}},{\"id\":55512109,\"node_id\":\"MDEwOlJlcG9zaXRvcnk1NTUxMjEwOQ==\",\"name\":\"ansible-jenkins\",\"full_name\":\"karlmdavis/ansible-jenkins\",\"private\":false,\"owner\":{\"login\":\"karlmdavis\",\"id\":59200,\"node_id\":\"MDQ6VXNlcjU5MjAw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/59200?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/karlmdavis\",\"html_url\":\"https://github.com/karlmdavis\",\"followers_url\":\"https://api.github.com/users/karlmdavis/followers\",\"following_url\":\"https://api.github.com/users/karlmdavis/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/karlmdavis/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/karlmdavis/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/karlmdavis/subscriptions\",\"organizations_url\":\"https://api.github.com/users/karlmdavis/orgs\",\"repos_url\":\"https://api.github.com/users/karlmdavis/repos\",\"events_url\":\"https://api.github.com/users/karlmdavis/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/karlmdavis/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"html_url\":\"https://github.com/karlmdavis/ansible-jenkins\",\"description\":\"Ansible
        playbook: Jenkins\",\"fork\":true,\"url\":\"https://api.github.com/repos/karlmdavis/ansible-jenkins\",\"forks_url\":\"https://api.github.com/repos/karlmdavis/ansible-jenkins/forks\",\"keys_url\":\"https://api.github.com/repos/karlmdavis/ansible-jenkins/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/karlmdavis/ansible-jenkins/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/karlmdavis/ansible-jenkins/teams\",\"hooks_url\":\"https://api.github.com/repos/karl[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/59200/repos?page=2
  response:
    body:
      string: '[{"id":8995023,"node_id":"MDEwOlJlcG9zaXRvcnk4OTk1MDIz","name":"perfect-note","full_name":"karlmdavis/perfect-note","private":false,"owner":{"login":"karlmdavis","id":59200,"node_id":"MDQ6VXNlcjU5MjAw","avatar_url":"https://avatars.githubusercontent.com/u/59200?v=4","gravatar_id":"","url":"https://api.github.com/users/karlmdavis","html_url":"https://gi[...]
[...]
