interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/orgs/justdavis-family/repos?per_page=100
  response:
    body:
      string: '[{"id":1169580914,"node_id":"R_kgDORbZjcg","name":"justdavis","full_name":"justdavis-family/justdavis","private":false,"owner":{"login":"justdavis-family","id":265052579,"node_id":"O_kgDOD8xhow","avatar_url":"https://avatars.githubusercontent.com/u/265052579?v=4","gravatar_id":"","url":"https://api.github.com/users/justdavis-family","html_url":"https://github.com/justdavis-family","followers_url":"https://api.github.com/users/justdavis-family/followers","following_url":"https://api.github.com/users/justdavis-family/following{/other_user}","gists_url":"https://api.github.com/users/justdavis-family/gists{/gist_id}","starred_url":"https://api.github.com/users/justdavis-family/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/justdavis-family/subscriptions","organizations_url":"https://api.github.com/users/justdavis-family/orgs","repos_url":"https://api.github.com/users/justdavis-family/repos","events_url":"https://api.github.com/users/justdavis-family/events{/privacy}","received_events_url":"https://api.github.com/users/justdavis-family/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/justdavis-family/justdavis","description":"Personal
        monorepo for Davis Family (@karlmdavis, @webdavis, & co).","fork":false,"url":"https://api.github.com/repos/justdavis-family/justdavis","forks_url":"https://api.github.com/repos/justdavis-family/justdavis/forks","keys_url":"https://api.github.com/repos/justdavis-family/justdavis/keys{/key_id}","collaborators_url":"https://api.github.com/repos/justdavis-family/justdavis/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/justdavis-family/justdavis/teams","hooks_url":"https://api.github.com/repos/justdavis-family/justdavis/hooks","issue_events_url":"https://api.github.com/repos/justdavis-family/justdavis/issues/events{/number}","events_url":"https://api.github.com/repos/justdavis-family/justdavis/events","assignees_url":"https://api.github.com/repos/justdavis-family/justdavis/assignees{/user}","branches_url":"https://api.github.com/repos/justdavis-family/justdavis/branches{/branch}","tags_url":"https://api.github.com/repos/justdavis-family/justdavis/tags","blobs_url":"https://api.github.com/repos/justdavis-family/justdavis/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/justdavis-family/justdavis/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/justdavis-family/justdavis/git/refs{/sha}","trees_url":"https://api.github.com/repos/justdavis-family/justdavis/git/trees{/sha}","statuses_url":"https://api.github.com/repos/justdavis-family/justdavis/statuses/{sha}","languages_url":"https://api.github.com/repos/justdavis-family/justdavis/languages","stargazers_url":"https://api.github.com/repos/justdavis-family/justdavis/stargazers","contributors_url":"https://api.github.com/repos/justdavis-family/justdavis/contributors","subscribers_url":"https://api.github.com/repos/justdavis-family/justdavis/subscribers","subscription_url":"https://api.github.com/repos/justdavis-family/justdavis/subscription","commits_url":"https://api.github.com/repos/justdavis-family/justdavis/commits{/sha}","git_commits_url":"https://api.github.com/repos/justdavis-family/justdavis/git/commits{/sha}","comments_url":"https://api.github.com/repos/justdavis-family/justdavis/comments{/number}","issue_comment_url":"https://api.github.com/repos/justdavis-family/justdavis/issues/comments{/number}","contents_url":"https://api.github.com/repos/justdavis-family/justdavis/contents/{+path}","compare_url":"https://api.github.com/repos/justdavis-family/justdavis/compare/{base}...{head}","merges_url":"https://api.github.com/repos/justdavis-family/justdavis/merges","archive_url":"https://api.github.com/repos/justdavis-family/justdavis/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/justdavis-family/justdavis/downloads","issues_url":"https://api.github.com/repos/justdavis-family/justdavis/issues{/number}","pulls_url":"https://api.github.com/repos/justdavis-family/justdavis/pulls{/number}","milestones_url":"https://api.github.com/repos/justdavis-family/justdavis/milestones{/number}","notifications_url":"https://api.github.com/repos/justdavis-family/justdavis/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/justdavis-family/justdavis/labels{/name}","releases_url":"https://api.github.com/repos/justdavis-family/justdavis/releases{/id}","deployments_url":"https://api.github.com/repos/justdavis-family/justdavis/deployments","created_at":"2026-02-28T22:32:56Z","updated_at":"2026-03-03T16:33:50Z","pushed_at":"2026-03-03T16:26:42Z","git_url":"git://github.com/justdavis-family/justdavis.git","ssh_url":"git@github.com:justdavis-family/justdavis.git","clone_url":"https://github.com/justdavis-family/justdavis.git","svn_url":"https://github.com/justdavis-family/justdavis","homepage":"https://justdavis.com","size":50,"stargazers_count":1,"watchers_count":1,"language":"Shell","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":true,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":0,"open_issues":1,"watchers":1,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"disabled"},"secret_scanning_non_provider_patterns":{"status":"disabled"},"secret_scanning_validity_checks":{"status":"disabled"}},"custom_properties":{}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2fef53eb3c67d4905f01b532a5245a907df47465240dbdc3be6bb7d78b6c1939"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4990'
      X-RateLimit-Reset:
      - '1775232349'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '10'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
[...]
