interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/forks?per_page=100
  response:
    body:
      string: '[{"id":786405673,"node_id":"R_kgDOLt-ZKQ","name":"ksoap2-android","full_name":"Garmi-O10/ksoap2-android","private":false,"owner":{"login":"Garmi-O10","id":116158480,"node_id":"U_kgDOBuxwEA","avatar_url":"https://avatars.githubusercontent.com/u/116158480?v=4","gravatar_id":"","url":"https://api.github.com/users/Garmi-O10","html_url":"https://github.com/Garmi-O10","followers_url":"https://api.github.com/users/Garmi-O10/followers","following_url":"https://api.github.com/users/Garmi-O10/following{/other_user}","gists_url":"https://api.github.com/users/Garmi-O10/gists{/gist_id}","starred_url":"https://api.github.com/users/Garmi-O10/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Garmi-O10/subscriptions","organizations_url":"https://api.github.com/users/Garmi-O10/orgs","repos_url":"https://api.github.com/users/Garmi-O10/repos","events_url":"https://api.github.com/users/Garmi-O10/events{/privacy}","received_events_url":"https://api.github.com/users/Garmi-O10/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/Garmi-O10/ksoap2-android","description":"A
        fork of the ksoap2 library (http://ksoap2.sourceforge.net/) to support the
        Android platform.","fork":true,"url":"https://api.github.com/repos/Garmi-O10/ksoap2-android","forks_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/forks","keys_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/teams","hooks_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/hooks","issue_events_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/issues/events{/number}","events_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/events","assignees_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/assignees{/user}","branches_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/branches{/branch}","tags_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/tags","blobs_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/git/refs{/sha}","trees_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/statuses/{sha}","languages_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/languages","stargazers_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/stargazers","contributors_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/contributors","subscribers_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/subscribers","subscription_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/subscription","commits_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/commits{/sha}","git_commits_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/git/commits{/sha}","comments_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/comments{/number}","issue_comment_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/issues/comments{/number}","contents_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/contents/{+path}","compare_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/merges","archive_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/downloads","issues_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/issues{/number}","pulls_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/pulls{/number}","milestones_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/milestones{/number}","notifications_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/labels{/name}","releases_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/releases{/id}","deployments_url":"https://api.github.com/repos/Garmi-O10/ksoap2-android/deployments","created_at":"2024-04-14T11:13:06Z","updated_at":"2024-04-14T11:13:06Z","pushed_at":"2022-03-30T04:11:57Z","git_url":"git://github.com/Garmi-O10/ksoap2-android.git","ssh_url":"git@github.com:Garmi-O10/ksoap2-android.git","clone_url":"https://github.com/Garmi-O10/ksoap2-android.git","svn_url":"https://github.com/Garmi-O10/ksoap2-android","homepage":"http://code.google.com/p/ksoap2-android","size":2206,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true}},{"id":474741601,"node_id":"R_kgDOHEv7YQ","name":"ksoap2-android","full_name":"1999chato/ksoap2-android","private":false,"owner":{"login":"1999chato","id":101445793,"node_id":"U_kgDOBgvwoQ","avatar_url":"https://avatars.githubusercontent.com/u/101445793?v=4","gravatar_id":"","url":"https://api.github.com/users/1999chato","html_url":"https://github.com/1999chato","followers_url":"https://api.github.com/users/1999chato/followers","following_url":"https://api.github.com/users/1999chato/follow[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/140726/forks?page=2
  response:
    body:
      string: '[{"id":36120206,"node_id":"MDEwOlJlcG9zaXRvcnkzNjEyMDIwNg==","name":"ksoap2-android","full_name":"hiaio/ksoap2-android","private":false,"owner":{"login":"hiaio","id":4637638,"node_id":"MDQ6VXNlcjQ2Mzc2Mzg=","avatar_url":"https://avatars.githubusercontent.com/u/4637638?v=4","gravatar_id":"","url":"https://api.github.com/users/hiaio","html_url":[...]
[...]
