interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/actions/runs?per_page=100
  response:
    body:
      string: '{"total_count":1,"workflow_runs":[{"id":12345,"run_number":1,"name":"CI","path":".github/workflows/ci.yml","workflow_id":1,"status":"completed","conclusion":"success","created_at":"2026-04-03T10:00:00Z","run_started_at":"2026-04-03T10:00:05Z","updated_at":"2026-04-03T10:02:30Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/actions/runs?per_page=100
  response:
    body:
      string: '{"total_count":0,"workflow_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"eac69724d477f57db27172c97d87be8a5d45c7bad8f3c69fee9b920164d37da5"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4985'
      X-RateLimit-Reset:
      - '1775532933'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '15'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/karlmdavis/ksoap2-android/actions/runs?per_page=100
  response:
    body:
      string: '{"total_count":0,"workflow_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"eac69724d477f57db27172c97d87be8a5d45c7bad8f3c69fee9b920164d37da5"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4941'
      X-RateLimit-Reset:
      - '1775532933'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '59'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
